[Unit]
Description=Mount for SDCard
BindsTo=dev-mmcblk1p1.device
Conflicts=media-sdcard.automount

[Mount]
What=/dev/mmcblk1p1
Where=/media/sdcard
TimeoutSec=3
