[Match]
Name=usb0

[Network]
Address=192.168.7.2/24
LinkLocalAddressing=no
DHCPServer=yes

[DHCPServer]
PoolOffset=10
PoolSize=20
EmitDNS=no
EmitRouter=no
